<nav>
    <div class="left">
        <a href="/">Homepage</a>
        <a href="/pokemon">Favorite Pokemon</a>
        <a href="/pokedex">Pokedex</a>
    </div>
    <div class="right">
        <a href="/auth/profile">My Profile</a>
        <a href="/auth/login">Log In</a>
        <a href="/auth/logout">Log Out</a>
    </div>
</nav>