<h1>Pokemon</h1>

<% pokemons.forEach(pokemon => { %>
    <div>
        <%= pokemon.name %>
    </div>
    <form action="/pokemon" method="POST">
        <input type="hidden" name="name" value="<%= pokemon.name %>">
        <input type="submit" value="add to favorite" name="">
    </form>
<% }) %>